<button md-button tabindex="-1" (click)="newPost()">New</button>


<div id="flex_content">
<ng-container *ngFor="let tile of data|async" >
  <div id="flex_items" (click)="updatePost(tile.id,tile.title,tile.content)">
  <md-card>
    <md-card-header>
      <md-card-title>{{tile.title}}</md-card-title>
    </md-card-header>
    <md-card-content>
      <p>
        {{tile.content}}
      </p>
    </md-card-content>

    <md-card-actions>
      <button md-button (click)=deletePost(tile.id)>Delete</button>
    </md-card-actions>
  </md-card>
  </div>
</ng-container>

</div>